config:
    phantomjs:
        path: bin/phantomjs
    crabgrass:
        username: crabgrass
        password: changeme
        group: mygroup
        url: https://we.riseup.net
        uri:
          me: /me
          pages: /groups/mygroup/pages#
    directories:
        backup: ./backup
        attachments_sub_dir: attachments
        images_sub_dir: images
    downloadable_extensions: { doc, docx, xls, xlsx, ppt, pptx, pdf, txt, psd, odf, odt, ods, odp, md, rar, zip, gz, tar, tar.gz, xml, yml, avi, mov, wav, mp3, mp4, mpg, aac }
    download_images: true
    download_attachments: true
    demo_mode:
        enabled: false
        max_iterations: 5