config:
    phantomjs:
        path: bin/phantomjs
    crabgrass:
        username: crabgrass
        password: changeme
        group: mygroup
        url: https://we.riseup.net
        uri:
          me: /me
          pages: /groups/mygroup/pages#
    directories:
        backup: ./backup
        attachments_sub_dir: attachments
        images_sub_dir: images
    not_downloadable_extensions: { '', htm, html, shtml, php, asp, js, jsp, jpg, jpeg, png, gif }
    download_images: true
    download_attachments: true
